.quoteBox__btn {
  display: block;
  margin: 0px auto;
  padding: 10px;
  border-radius: 10px;
  border: none;
  background-color: #259ece;
  cursor: pointer;
}

.quoteBox__phrase {
 margin: 0px 0px 35px 0px;
 background-color: rgba(20, 20, 20, 0.514);
 padding: 10px;
 border-radius: 20px;
}